body{
background-image:url(school.jpg);
background-repeat:no-repeat;
background-size:cover;
background-attachment:fixed;
font-size:15px;
font-family:georgia,times new roman,serif;
}

span{
font-size: 40px;
color: white;
}

li{
display: inline;
margin-left: 100px;

}

a{
text-decoration: none;
color: white;
}

a:hover{
color: yellow;}

h1{
font-size: 60px;
margin-top: 100px;
color: white;
margin-bottom: 0px;
}

p{
margin-bottom: 0px;
color:  orange;
font-size: 20px;
}

button{
margin-top: 20px;
width: 160px;
height:40px;
border-radius:17px;
margin-bottom: 10px;
margin-left: 20px;
font-size: 18px;
background-color: black;
color: white;
}



table{
margin-top: 250px;
background-color:blue ;
}

td{
text-align: center;
background-color: white;
border: 1px white;
]


